/* Laying out and styling the original size  */
body{
    background-image: url(../MyBio/wp1987229.jpg);
    background-size: cover;
    background-position: center;
}
.container{
    background-color:white;
    border: 1px solid black;
    margin-top: 10vh;
    width: 60vw;
}

.index-height{
    min-height: 60vh;
}

.contact-height{
    padding: 10px 50px 50px 10px;
}

.prof-picture {
    float: left;
    padding-right: 10px;
    height: 250px;
    width: 250px;
}

.port-picture{
    height: 350px;
    width: 350px;
}

p{
    text-align: justify;
}

hr{
    height: 10px;
    color: maroon;
    border-width: 1.5px;
}

.pic-positioning{
    padding-bottom: 3%;
}

button{
    padding: 10px 15px 10px 15px;
    background-color: gray;
    border-radius: 10%;
    margin-bottom: 10%;
}
.small-area{
    width: 90%;
    padding: 5px 10px 5px 10px;
    margin-bottom: 2%;
}

.text-area{
    display: grid;
    padding: 5px 10px 5px 10px;
    width: 90%;
    height: 25%;
}

.port-footer{
    text-align: center;
    background-color: gray;
    margin-top: 3%;
    min-height: 10vh;
}
.contact-footer{
    text-align: center;
    background-color: gray;
    margin-top: 4%;
    min-height: 10vh;
}
.index-footer{
    text-align: center;
    background-color: gray;
    margin-top: 4.5%;
    min-height: 10vh;
}
/* Give responsive design for smaller screens using media screen */
@media screen and (max-width: 800px){
    body{
        background-color: maroon;
    }
    .port-picture{
        padding-bottom: 0px;
    }
    .pic-positioning{
        padding-bottom: 0px;
    }
    .port-picture{
        padding-bottom: 20px;
    }
    .container{
        width: 100%;
    }
    .contact-footer{
        margin-top: 11.6%;
    }
}

/* Give responsive design for the smallest resolution using media screen */
@media screen and (max-width: 400px){
    .pic-positioning{
        padding-bottom: 0px;
    }
    .port-picture{
        padding-bottom: 10px;
    }
    .prof-picture{
        height: 200px;
        width: 200px;
    }
    .container{
        width: 100%;
    }
    .contact-footer{
        margin-top: 1%;
        min-height: 7.2vh;
    }
}