body{
    background-image: url(../MyBio/wp1987229.jpg);
    background-size: cover;
    background-position: center;
}
.container{
    background-color:white;
    /* margin: 0 auto; */
    border: 1px solid black;
    margin-top: 10vh;
}

/* .index-positioning, .contact-positioning, .portfolio-positioning{
    padding-bottom: 3%;
    width: 40%;
} */

img {
    float: left;
    padding-right: 20px;
}

p{
    text-align: justify;
}

.line-container{
    height: 10px;
    color: gray;
    border-width: 1.5px;
}

.pic-positioning{
    padding-bottom: 3%;
}

button{
    padding: 10px 15px 10px 15px;
    background-color: gray;
    border-radius: 10%;
    margin-bottom: 10%;
}
.small-area{
    width: 90%;
    padding: 5px 10px 5px 10px;
    margin-bottom: 2%;
}

.text-area{
    display: grid;
    padding: 5px 10px 5px 10px;
    width: 90%;
    height: 25%;
}

.footer{
    text-align: center;
    background-color: gray;
    margin-top: 3%;
    padding-bottom: 7.3vh;
}

.line-footer{
    color: green;
    height: 10px;
    border-width: 10px;
}

/* Give responsive design for smaller screens using media screen */
@media screen and (max-width: 800px){
    body{
        background-color: maroon;
    }
    
    h1{
        font-size: 10px;

    }
    
    button{
        padding: 1px 1px 1px 1px;
    }
}